Repository iflexhibit/iflexhibit-api, pull requests merged in 2021-10, with the labels that each got.

#14 Add create table sql commands
  src/repositories/sql/bans/_table.sql
  src/repositories/sql/comments/_table.sql
  src/repositories/sql/offenses/_table.sql
  src/repositories/sql/permissions/_table.sql
  src/repositories/sql/post-status/_table.sql
  src/repositories/sql/posts/_table.sql
  src/repositories/sql/poststatus/_table.sql
  src/repositories/sql/reports/_table.sql
  src/repositories/sql/user-post/_table.sql
  src/repositories/sql/user-types/_table.sql
  src/repositories/sql/userpost/_table.sql
  src/repositories/sql/users/_table.sql
  src/repositories/sql/usertypes/_table.sql
Labels: sql

#25 Adds INSERT INTO usertypes command
  src/repositories/sql/usertypes/_data.sql
Labels: sql

#27 Adds fetch profile sql command
  src/repositories/sql/users/fetch_profile.sql
Labels: sql

#38 Update login and logout redirects
  src/routes/api/auth.js
Labels: update, api

#39 Add fetch personal profile API endpoint
  src/configs/config.js
  src/configs/database.js
  src/controllers/UserController.js
  src/repositories/UserRepository.js
  src/repositories/sql/users/_table.sql
  src/routes/api/users.js
  src/utils/encrypt.js
Labels: feature, api

#41 Adds INSERT INTO values to posts with various poststatus
  src/repositories/sql/posts/_data.sql
Labels: sql

#57 Add sql command to insert comment on a post
  src/repositories/sql/comments/insert_comment.sql
Labels: sql

#56 Add sql command to insert a post
  src/repositories/sql/posts/insert_post.sql
Labels: sql
