Repository iflexhibit/iflexhibit-api, pull requests merged in 2022-01, with the labels that each got.

#98 Sql 94 enhance fetch posts
  src/repositories/sql/posts/alter_post.sql
  src/repositories/sql/posts/fetch_all_guest.sql
  src/repositories/sql/posts/fetch_user_posts.sql
  src/repositories/sql/rules/rules.sql
Labels: api

#102 Enhance the fetch posts sql query
  src/repositories/sql/posts/fetch_all_guest.sql
  src/repositories/sql/posts/fetch_user_posts.sql
Labels: sql

#105 Sql 103 revamp tables
  src/repositories/sql/bans/_table.sql
  src/repositories/sql/comments/fetch_post_comments.sql
  src/repositories/sql/offenses/_data.sql
  src/repositories/sql/offenses/_table.sql
  src/repositories/sql/offenses/alter_table.sql
  src/repositories/sql/offenses/drop_table.sql
  src/repositories/sql/offenses/fetch_comments_offenses.sql
  src/repositories/sql/offenses/fetch_posts_offenses.sql
  src/repositories/sql/offenses/fetch_users_offenses.sql
  src/repositories/sql/permissions/_data.sql
  src/repositories/sql/permissions/_table.sql
  src/repositories/sql/permissions/drop_table.sql
  src/repositories/sql/posts/_data.sql
  src/repositories/sql/posts/_table.sql
  src/repositories/sql/posts/alter_post.sql
  src/repositories/sql/posts/fetch_all_guest.sql
  src/repositories/sql/posts/fetch_one_guest.sql
  src/repositories/sql/posts/fetch_user_posts.sql
  src/repositories/sql/posts/insert_post.sql
  src/repositories/sql/poststatus/_data.sql
  src/repositories/sql/poststatus/_table.sql
  src/repositories/sql/poststatus/drop_table.sql
  src/repositories/sql/reports/_table.sql
  src/repositories/sql/rules/rules.sql
  src/repositories/sql/users/_table.sql
  src/repositories/sql/users/fetch_basic.sql
  src/repositories/sql/users/fetch_email_one.sql
  src/repositories/sql/users/fetch_my_profile.sql
  src/repositories/sql/users/fetch_profile.sql
  src/repositories/sql/usertypes/_data.sql
  src/repositories/sql/usertypes/_table.sql
  src/repositories/sql/usertypes/drop_table.sql
Labels: sql

#106 adds create.sql and data.sql
  src/repositories/sql/create.sql
  src/repositories/sql/data.sql
Labels: sql

#111 Sql 108 combine drop
  src/repositories/sql/drop.sql
  src/repositories/sql/rules.sql
Labels: sql

#110 Sql 107 enhance fetch me
  src/repositories/sql/users/fetch_me.sql
  src/repositories/sql/users/fetch_my_profile.sql
Labels: sql

#115 Enhance fetch user profile #113
  src/repositories/sql/users/fetch_profile.sql
Labels: sql

#114 Add SQL commands for views and likes #112
  src/repositories/sql/create.sql
  src/repositories/sql/drop.sql
  src/repositories/sql/rules.sql
  src/repositories/sql/userpost/fetch_one.sql
  src/repositories/sql/userpost/insert_one.sql
  src/repositories/sql/userpost/like_one.sql
Labels: sql

#117 Integrate SQL commands to features
  src/middlware/auth.js
  src/repositories/PostQueries.js
  src/repositories/PostRepository.js
  src/repositories/UserQueries.js
  src/repositories/UserRepository.js
  src/repositories/sql/create.sql
  src/repositories/sql/posts/fetch_approved_post.sql
  src/repositories/sql/posts/fetch_approved_posts.sql
  src/repositories/sql/posts/fetch_approved_posts_count.sql
  src/repositories/sql/posts/fetch_user_posts.sql
  src/repositories/sql/posts/fetch_user_posts_count.sql
  src/repositories/sql/posts/insert_post.sql
  src/repositories/sql/rules.sql
  src/repositories/sql/userpost/fetch_one.sql
  src/repositories/sql/userpost/like_one.sql
  src/repositories/sql/users/_table.sql
  src/routes/api/auth.js
  src/routes/api/posts.js
  src/routes/api/users.js
Labels: sql, feature, update, api

#120 Add avatar and background image edit functionality
  package-lock.json
  package.json
  src/middlware/auth.js
  src/repositories/UserQueries.js
  src/repositories/UserRepository.js
  src/repositories/sql/users/update_avatar.sql
  src/repositories/sql/users/update_background.sql
  src/routes/api/auth.js
  src/routes/api/users.js
  src/server.js
Labels: feature, update, api

#124 Add report content feature
  src/middlware/auth.js
  src/repositories/OffenseQueries.js
  src/repositories/OffenseRepository.js
  src/repositories/ReportQueries.js
  src/repositories/ReportRepository.js
  src/repositories/sql/offenses/drop_table.sql
  src/repositories/sql/permissions/drop_table.sql
  src/repositories/sql/poststatus/drop_table.sql
  src/repositories/sql/reports/report_comment.sql
  src/repositories/sql/reports/report_post.sql
  src/repositories/sql/reports/report_user.sql
  src/repositories/sql/usertypes/drop_table.sql
  src/routes/api/offenses.js
  src/routes/api/reports.js
  src/routes/index.js
Labels: feature, api

#123 Dashboard SQL - General Overview data #121
  src/repositories/sql/_dashboard/general_overview.sql
  src/repositories/sql/create.sql
  src/repositories/sql/drop.sql
Labels: sql
