Repository iflexhibit/iflexhibit-api, pull requests merged in 2022-02, with the labels that each got.

#129 Add delete post API endpoint
  src/middlware/auth.js
  src/repositories/PostQueries.js
  src/repositories/PostRepository.js
  src/repositories/sql/posts/delete_post.sql
  src/routes/api/posts.js
Labels: sql, feature, api

#130 Add status title to fetching of personal posts
  src/repositories/PostQueries.js
  src/repositories/PostRepository.js
  src/repositories/sql/posts/fetch_my_posts.sql
  src/repositories/sql/posts/fetch_my_posts_count.sql
  src/routes/api/users.js
Labels: sql, feature, update, api

#137 Dashboard SQL - Pending Posts
  src/repositories/sql/_dashboard/pending_posts.sql
  src/repositories/sql/create.sql
  src/repositories/sql/drop.sql
Labels: sql

#139 Add delete comment API endpoints and SQL
  src/middlware/auth.js
  src/repositories/PostQueries.js
  src/repositories/PostRepository.js
  src/repositories/UserQueries.js
  src/repositories/UserRepository.js
  src/repositories/sql/comments/delete_comment.sql
  src/repositories/sql/comments/fetch_post_comments.sql
  src/repositories/sql/posts/delete_post.sql
  src/routes/api/posts.js
  src/routes/api/users.js
Labels: bug, sql, feature, update

#140 Add watermark configuration
  src/routes/api/posts.js
Labels: sql, feature, update, api

#138 Dashboard SQL - Report Entries (Users)
  src/repositories/sql/_dashboard/reported_users.sql
  src/repositories/sql/create.sql
  src/repositories/sql/drop.sql
Labels: sql

#131 Fix post likes counter
  src/repositories/sql/create.sql
Labels: bug

#141 Dashboard SQL - Report Entries (Users) - reopened
  src/repositories/sql/_dashboard/reported_users.sql
  src/repositories/sql/create.sql
Labels: sql

#142 Dashboard SQL - Report Entries (Posts)
  src/repositories/sql/_dashboard/reported_posts.sql
  src/repositories/sql/comments/fetch_post_comments.sql
  src/repositories/sql/create.sql
  src/repositories/sql/drop.sql
Labels: sql
